# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# dev directories
hoify-server/music/**
hoify-server/album-art/**

# Beets
hoify-server/.beets/
hoify-server/ingest/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Test output
coverage/
data/